/*options*/
#second_menu {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 450px;
    font-size: 16px;
}

.second_menu_items {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.second_menu_items a {
    text-decoration: none;
    color: #C42929;
}

.second_menu_items a:hover {
    color: #6E6E6E  ;
}

/*number of raw materials*/
#raw_materials {
    padding-top: 40px;
    display: table;
    margin: 0 auto;
    font-size: 17px;
}

#raw_materials :hover{
    cursor: default;
}

.raw_materials_items {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

#container {
    margin-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
/*    border: solid blue;
*/}

.information_start_page {
    min-width: 250px;
    max-width: 250px;
/*    border: solid green;
*/    margin-left: auto;
}

.tooltip_materials_1 {
    font-size: 20px;
    border-bottom: solid 2px;
}

.tooltip_materials_2 {
    font-size: 15px;
}

#left_main_menu{
    float: left;
    padding-bottom: 70px;
    padding-right: 40px;
/*    border: dotted;
*/}


#left_main_menu table a{
    /*border: solid;*/
    text-decoration: none;
    color: #C42929;
}

#left_main_menu table a:hover{
    color: #6E6E6E;
}

#materials_level_up_button_container{
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 100px;
}

.materials_level_up_button{
    float: left;
    width: 170px;
    height: 100px;
    margin: 2px;
    box-shadow: 0 0 8px black;
    color: black;
    cursor: pointer;
}

.materials_level_up_button:hover{
    background: #C42929;
}

/*progress bar css*/
.pbar_outerdiv { 
  font-size: 11px;
  margin-top: 11px;
 }
 
.pbar_outerdiv{
   width: 100%; 
   height: 12px; 
   z-index: 1; 
   position: relative; 
   -moz-border-radius: 5px;
 }
 
.pbar_innerdiv{
  background-color: #37F144; 
  z-index: 2; 
  height: 100%; 
  width: 0%;
}
 
 .pbar_innertext{
   z-index: 3; 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   color: black; 
   font-weight: bold; 
   text-align: center;
 }
 /*end progress bar css*/