/*register.php*/
.error{
    color: red;
}

#check_box_label_regulations:hover{
    cursor: pointer;
}

/*index.php*/
#log{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

#register_form{
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.g-recaptcha{
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}