body{
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;

}

input{
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}

#footer{
    text-align: center;
    background-color: black;
    color: white;
	font-size: 12px;
    height: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}



